.navbar-default {
    background-color: #fff;
    color: #EEE;
    transition: all ease 1s;
    border-color: #fff;
}

.navbar-default .navbar-brand {
    letter-spacing: 1.3em;
    color: inherit;
    background-color: #f6a821;
}

.navbar-default button {
    border: none;
    color: #EEE;
}
