.navbar-default {
    background-color: #222;
    color: #EEE;
    border-color: #666;
    transition: all ease 1s;
}
.navbar-default .navbar-brand {
    color: inherit;
}

.navbar-default button {
    border: none;
    color: #EEE;
}
